#loading{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
#Id{
    display: none;
}
span{
    color: red;
    
}